body {
    margin: 0;
    background-color: #cccccc;
}

header {
    color: white;
    border-bottom: 1px solid #33ccff;
    padding: 10px;
}

#kanaal {
    width: 35px;
}

.bekijkDeelnemers {
    float: right;
    border: 0;
    border-bottom: 2px solid grey;
    background-color: darkgrey;
    color: white;
}

main {
    padding: 10px;
}

.bericht {
    background-color: white;
    padding: 5px;
    width: 70%;
    border-radius: 7px;
    border: 1px solid black;
    margin: 5px;
}

.eigen {
    position: relative;
    right: -25%;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    left: 0;
}

.footerNaam {
    width: 90%;
    border: 1px solid black;
    margin: auto;
    border-bottom: 0;
    background-color: #cccccc;   
}

#naamInput {
    width: 100%;
    background-color: transparent;
    border: 0;
    text-align: center;
}

.footerBericht {
    width: 90%;
    margin: auto;
    border: 1px solid black;
    background-color: white;
    border-bottom: 0;
}

#berichtInput {
    width: 100%;
    background-color: transparent;
    border: 0;
    padding: 5px 2px;
}

.footerKnop {
    width: 90%;
    margin: auto;
    border: 1px solid black;
    margin-bottom: 10px;
    background-color: #33ccff;
    border-radius: 0 0 7px 7px;
}

.stuurBericht {
    width: 100%;
    background-color: transparent;
    border: 0;
}
