body {
  background-color: lightgrey;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  background-color: white;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  margin: auto;
}


main {
    overflow-y:scroll;
    height: 100%;
}

footer {
  min-height: 100px;
}

/* Zet hier je eigen CSS regels neer */
