body {
  background-color: lightgrey;
  padding: 0;
  margin: 0;
}

.container {
  position: relative;
  background-color: white;
  width: 100%;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  margin: auto;
}


main {
    overflow-y:scroll;
    height: 100%;
}

/* Zet hier je eigen CSS regels neer */
.berichten {
  background-color: green;   /* Voor een groene achtergrond */
  padding: 5px;              /* Om 5 pixels extra ruimte in de box te krijgen aan alle randen. */
  border: 2px dotted yellow; /* Voor een gele rand. */
}


#berichtInput {
  background-color: yellow;
  color: blue;
}

#naamInput {
  background-color: black;
  color: white;
  font-weight: bold;
}
